.textfield-password-8 {
  flex-basis: 50px;
  padding-top: 20px;
  max-width: 350px;
  border-right-style: solid;
  align-self: stretch;
  border-right-color: #e8e8e8;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 64px;
  border-left-color: #e8e8e8;
  border-bottom-color: #e8e8e8;
  padding-bottom: 14px;
  min-height: 50px;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-left-style: solid;
  border-top-width: 1px;
  border-top-color: #e8e8e8;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.span-11 {
  line-height: 16px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}
